@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

/*remove bootstrap*/
label{
	margin-bottom: 0;
}

/*defaults*/

html{
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	color:#333;
	overflow-x: hidden;
}
html,body{
	min-height: 100vh;
	height: 100%;
}
#app{
	height: 100%;
}

*{
	cursor: inherit;
	/*firefox only scrollbar*/
	scrollbar-color: #c5c5c5 white;
	scrollbar-width:thin;
}

*:focus{
	outline: none !important;
}

/*crossbrowser scrollbars*/
::-webkit-scrollbar {
	width: 0.3125em;
	height: 0.3125em;
}

::-webkit-scrollbar-thumb {
	background: #c5c5c5;
}

::-webkit-scrollbar-track {
	background: white;
}

a{
	text-decoration: none !important;
}

input,button{
	padding:0.625em 1.25em;
}

input{
	border: 0.125em solid #FF9D29;
	border-radius: 0.3125em;
	caret-color:#FF9D29;
}
input[type=text]{
	min-width: 12.5em;
}

button{
	border:none;
	line-height: 1.3125em;
	color:white;
	background-color: #FF9D29;
	border-radius: 0.3125em;
}

/*customs*/

.filter-width{
	width:13.8vw;
	min-width: 12.5em;
	margin-right:3.125em;
}


/*styles*/

.warn{
	position: absolute;
	top: -35%;
	transition: .3s;
	color: #aaa;
	opacity: 0;
}

.link{
	cursor: pointer;
	color:inherit;
}

.link:hover{
	color:#FF8E0A !important;
}

.flex-0{
	flex:0 !important;
}

.rotate{
	transform: rotate(180deg);
}

.transition{
	transition: .3s;
}

.cursor-pointer{
	cursor: pointer;
}

.logo{
	width: 7.5em;
}

.padding{
	padding-right: 11vw;
	padding-left: 11vw;
}

.no-border-right{
	border-right:none !important; 
}

.no-border-right-radius{
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.no-border-left-radius{
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.border-grey{
	border-color: #DADADA !important;
}

.border-width{
	border-width: 0.125em !important;
}

.bg-white{
	background-color: white !important;
}

.bg-orange{
	background-color: #FF9D29 !important;
}

.bg-blue{
	background-color: #0a306a !important; 
}

.bg-lightblue{
	background-color: rgba(	163, 200, 255,.25) !important;
}

.bg-grey{
	background-color: #9c9fa7!important;
}

.bg-lightgrey{
	background-color: #F4F4F4 !important;
}

.ellipsis{
	width:90%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.text-no-wrap{
	white-space: nowrap;
}

.text-black{
	color:#333;
}

.text-grey{
	color: #9C9FA7 !important;
}

.text-lightgrey{
	color: #BDC5DA !important;
}

.text-blue{
	color: #274FB6 !important;
}

.text-orange{
	color: #FF9D29 !important;
}

.font-size-32{
	font-size: 2em;
}

.font-size-24{
	font-size: 1.5em;
}

.font-size-20{
	font-size: 1.25em;
}

.font-size-18{
	font-size: 1.125em;
}

.font-size-14{
	font-size: .875em;
}

.mr--5{
	margin-right: -.3125em;
}

.w-20{
	width: 20% !important;
}

.w-10{
	width: 10% !important;
}

.w-min-120{
	min-width: 8.125em;
}

.w-min-0{
	min-width: 0;
}

/*icons*/

svg:not(:root).svg-inline--fa {
	overflow: visible;
}

.svg-inline--fa.fa-w-10 {
	width: 0.625em;
}

.svg-inline--fa.fa-w-11 {
	width: 0.6875em;
}

.svg-inline--fa.fa-w-14 {
	width: 0.875em;
}

.svg-inline--fa.fa-w-16 {
	width: 1em;
}

.svg-inline--fa.fa-w-18 {
	width: 1.125em;
}

.svg-inline--fa.fa-w-24 {
	width:1.5em;
}

.svg-inline--fa {
	display: inline-block;
	font-size: inherit;
	height: 1em;
	overflow: visible;
	vertical-align: -0.125em;
}

/*rewrite bootstrap*/

.font-weight-bold{
	font-weight: 500!important;
}

/*responsiveness*/
@media screen and (max-width: 350px){
	.padding{
		padding-right: 5vw;
		padding-left: 5vw;
	}
}